@use "../../styles/_mixins" as mixins;
@use "../../styles/_colors" as colors;

.trending {
  padding-top: 130px;
  &-top {
    @include mixins.flex($align: center);
    margin-bottom: 30px
  }

  &-title{
    @include mixins.title;
  }

  &-btns {
    @include mixins.flex-simple;
    gap: 10px;
    
    button{
      @include mixins.button;
    }
    button.active{
        background-color: colors.$primary;
    }
  }

}